
body{
    height: 100vh;
    background: palevioletred;
}
.container{
    position: relative;
    max-width: 800px;
    padding: 80px;
    margin: 0 auto;
}
.addtask{
    width: 100%;
    display: flex;
    padding: 10px 0;
}
.addtask > input[type="text"]{
    width:90%;
    color: black;
    border: none;
    border-bottom: 2px solid #666;
    background: none;
    padding: 10px;
    font-size: 35px;
    outline: none;
}
.addtask button{
    margin: 0 10px;
    background: black;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.pending, .completed{
    margin: 5px 0;
    padding: 20px;
}
h2{
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
ol{
    list-style: none;
    counter-reset: my-counter;
}
ol li{
    counter-increment: my-counter;
    width: 100%;
    padding: 18px;
    margin: 5px 0;
    background: pink;
    font-size: 22px;
}
ol.completed li{
    background: lightgreen;
}
ol li::before{
    content: counter(my-counter);
    background: black;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    text-align: center;
    color: #fff;
}
li button{
    float: right;
    padding: 5px;
    font-size: 28px;
    line-height: 28px;
    border: none;
    background: none;
    cursor: pointer;
}